<!DOCTYPE html>
<html ng-app="HipSpot">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular.min.js"></script>
	<script src="http://js.pusher.com/2.2/pusher.min.js"></script>
	<script src="http://cdn.jsdelivr.net/angular.pusher/latest/pusher-angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-controller="AppCtrl">
	

</body>
</html>